input[type='radio'] {
  display: none;
}

.br--rating {
  margin-bottom: 2rem;
  cursor: pointer;
}

.br--rating__category {
  display: flex;
  margin-bottom: 1.6rem;
  margin-top: 1rem;
  justify-content: flex-start;
}

.br--rating__title {
  width: 35%;
}
.br--rating__stars {
  display: flex;
  width: 65%;
}
@media screen and (max-width: 767px) {
  .br--rating__stars {
    flex-wrap: wrap;
  }
}
.br--rating__star {
  position: relative;
  margin-right: 1rem;
}
@media screen and (max-width: 767px) {
  .br--rating__star {
    margin-right: 0.5rem;
  }
}
.br--rating__label {
  cursor: pointer;
  position: absolute;
  font-size: var(--Font-Size-Small);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
