.br--review {
  margin-top: 2rem;
}
.br--review__input {
  width: 100%;
  border: none;
  resize: none;
  min-height: 7rem;
  overflow: hidden;
  line-height: normal;
}
.br--review__input:focus {
  outline: none;
}
