.br--btn {
  display: block;
  margin: 0 auto;
  border-radius: 21px;
  background-color: var(--Color-Blue);
  color: var(--Color-White);
  width: 12.5rem;
  height: 2.6rem;
  font-weight: var(--Font-Weight-Bold);
  cursor: pointer;
}

.br--delete {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: var(--Color-Blue);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .br--delete {
    display: none;
  }
}
