.br--hading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--Font-Size-Large);
  font-weight: var(--Font-Weight-Bold);
  background-color: var(--Color-Blue);
  color: var(--Color-White);
  padding: 0.5rem 1rem;
}
.br--hading__btn {
  font-size: var(--Font-Size-Medium);
  cursor: pointer;
}
