.br--headline {
  color: var(--Color-White);
  font-size: var(--Font-Size-Large);
  font-weight: var(--Font-Weight-Bold);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Color-Blue);
  padding: 0.5rem 1rem;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
}
@media screen and (max-width: 767px) {
  .br--headline {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.br--headline__btn {
  font-size: var(--Font-Size-Medium);
  cursor: pointer;
}
