@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --Color-Blue: #16254f;
  --Color-Gray: #4a4a4a;
  --Color-White: #fff;

  --Font-Size-Small: 0.9rem;
  --Font-Size-Medium: 1rem;
  --Font-Size-Large: 1.5rem;
  --Font-Size-XLarge: 2rem;

  --Font-Weight-Normal: 400;
  --Font-Weight-Bold: 700;
}

.divider-top {
  border-top: 1px solid var(--Color-Gray);
}
.divider-bottom {
  border-bottom: 1px solid var(--Color-Gray);
}

.br-container {
  font-size: var(--Font-Size-Medium);
  color: var(--Color-Blue);
}

.br--hading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--Font-Size-Large);
  font-weight: var(--Font-Weight-Bold);
  background-color: var(--Color-Blue);
  color: var(--Color-White);
  padding: 0.5rem 1rem;
}
.br--hading__btn {
  font-size: var(--Font-Size-Medium);
  cursor: pointer;
}
.br--wrapper {
  margin: 2rem;
}
.br--rating__category {
  display: flex;
  cursor: pointer;
}

input[type='radio'] {
  display: none;
}
.br--rating__star {
  cursor: pointer;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}
.br--rating__label {
  cursor: pointer;
  position: absolute;
  font-size: var(--Font-Size-Small);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
